<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="YourConnectionStringKey"
				   providerName="System.Data.SqlClient"
				   connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=YourDB;User Id=myUsername;Password=myPassword;Trusted_Connection=Yes" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

</configuration>
