@model ProductManagement.Models.Type
<!DOCTYPE html>
<html>
<head>

    <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <script src="~/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/demo/demo.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">


    <meta name="viewport" content="width=device-width" />
    <title>Add Client</title>
</head>
<body>
    <div class="content">
        <div class="container-fluid">
            <div class="content">
                <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-5" id="Addtype">
                                @{
                                    Html.RenderPartial("_Addtype");
                                }
                            </div>
                            <div class="col-md-7" id="Listtype">
                                @{
                                    Html.RenderPartial("_Listtype");
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>
<script>
    $(document).ready(function () {
        $(".nav-item").removeClass("active");
        $("#linkp").addClass("active");
    });
</script>